*{
    margin: 0px;
    padding: 0px;
}
body{
    min-width: 100vw;
    min-height: 100vh;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vw 80vw 10vw;
    min-width: 100vw;
    min-height: 12vw;
    background-color:gray;

}
#log{
    max-width: 10vw;
    max-height: 12vw;
}
section{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 33vw 33vw 33w;
    

}
main{

}
footer{
    min-width: 100vw;
    min-height: 12vw;
    

}