*{

}
.container{
    
    display: flex;
        
    align-items: center;
        
    justify-content: space-between;
        
    width: 90%;
        
    align-self: center;
    }
    
    #logo img{
    
    width: 150px;
    }
    header{
    
    background-color: #1f1f24;
    
    display: flex;
    
    justify-content: center;
    }
    
    header a{
        
color: white;
        
padding: 22px;
        
font-size: 25px;
        
text-decoration: none;
    }

.container2{

}
h1{

width: 253px;

font-size: 48px;

flex-wrap: wrap;
}

p{

}

#button{
    
/* display: -webkit-inline-box; */
    
display: flex;
    
width: 268px;
    
flex-wrap: wrap;
}
#img2 img{

width: 22em;

/* align-items: center; */

/* justify-content: center; */

/* display: block; */

margin-top: 62px;

/* padding: 15px; */
}
#principal{

display: flex;

justify-content: space-around;
}

#button button {
    
margin: 17px;
    
width: 99px;
    
padding: 10px;
    
color: white;
    
background-color: black;
    
border: none;
    
cursor: pointer;
}
footer{
    
background-color: rgb(215, 220, 229);
    
padding: 40px;
    
align-items: center;
    
display: flex;
    
justify-content: center;
}
.container button{
    
width: 115px;
    
background-color: teal;
    
border: none;
    
color: white;
    
padding: 10px;
    
cursor: pointer;
}
footer img{
    
width: 72px;
    
margin: 10px;
}